<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <section>
      <div class="wh-100 vh-100 d-flex">
        <div class="sidebar p-32 w-25 bg-light">
          <h1>
            <a href="#">logo_answer</a>
          </h1>
          <div class="vh-100-flex d-flex flex-column justify-content-between">
            <ul class="sidebar-list list-unstyled">
              <li class="mb-26">
                <a class="fw-bold text-decoration-none d-inline-block" href="#"
                  ><span class="align-top me-3 material-icons">
                    assessment </span
                  >Dashboard</a
                >
              </li>
              <li class="mb-26">
                <a class="fw-bold text-decoration-none d-inline-block" href="#"
                  ><span class="align-top me-3 material-icons">
                    question_answer </span
                  >Question</a
                >
              </li>
              <li class="mb-26">
                <a class="fw-bold text-decoration-none d-inline-block" href="#"
                  ><span class="align-top me-3 material-icons">
                    assignment </span
                  >assignment</a
                >
              </li>
              <li class="mb-26">
                <a class="fw-bold text-decoration-none d-inline-block" href="#"
                  ><span class="align-top me-3 material-icons">
                    video_library </span
                  >Course</a
                >
              </li>
              <li class="mb-26">
                <a class="fw-bold text-decoration-none d-inline-block" href="#"
                  ><span class="align-top me-3 material-icons"> people </span
                  >Admin</a
                >
              </li>
              <li class="mb-26">
                <a class="fw-bold text-decoration-none d-inline-block" href="#"
                  ><span class="align-top me-3 material-icons"> settings </span
                  >Settings</a
                >
              </li>
            </ul>
            <ul class="user d-flex align-items-center list-unstyled">
              <li class="user-pic"></li>
              <li class="d-flex flex-column ps-3">
                <span class="text-dark fw-bold">Andy Chen</span>
                <span class="fz-14 text-secondary">andy0401@mail.com</span>
              </li>
            </ul>
          </div>
        </div>
        <%- contents %>
      </div>
    </section>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
